In [1]:
import numpy as np
from sklearn.metrics import accuracy_score

In [2]:
y_pred = [0,2,1,3]
y_true = [0,1,2,3]

In [3]:
accuracy_score(y_true, y_pred)

0.5

In [4]:
accuracy_score(y_true, y_pred, normalize=False)

2

In [5]:
import pandas as pd

In [6]:
data = {'Name':['Mithun', 'Bindu', 'Liva', 'Popy'],
        'Location':['Panchagarh', 'Pabna', 'Rangpur', 'Dhaka'],
        'Age':[18, 17, 33, 32]   
}
frame = pd.DataFrame(data)
display(frame)

     Name    Location  Age
0  Mithun  Panchagarh   18
1   Bindu       Pabna   17
2    Liva     Rangpur   33
3    Popy       Dhaka   32

In [7]:
display(frame[frame.Age > 30])

   Name Location  Age
2  Liva  Rangpur   33
3  Popy    Dhaka   32